/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* utility */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff

}

    
h1{
    font-size: 35px;
    font-weight: 700;
}
p{
    font-size: 12px;
}
/* header style */
.top-banner{
    display: flex;
    background-color: black;
    border-radius: 15px;
    width: 890px;
    padding: 0 100px;
    margin-top: 40px;
    margin-right: 80px;
    margin-left: 100px;
    height: 400px;
}


.head-on{
    width: 100%;
    margin-right: 30px;
    padding-top: 35px;
    color: white;
}
.button-link{
    width: 200px;
    height: 150px;
    background-color: red;
    text-decoration: none;
    color: bisque;
    padding: 5px 20px;
    border-radius: 5px;
    transition: width 5s, height 5s ,transform 5s;
}
.button-link:hover {
    width: 300px;
    height: 200px;
    transform: rotate(30deg);
}
    
/* image edit */
.mar-celo{
    padding-top: 60px;
}
/* fontawesome edit */
.fa-solid{
    padding-left: 10px;
}
/* button edit */
.color-button{
    background-color: #161616;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-right: 20px;
    
}

    .full-box{
        background-color: #161616;
        border-radius: 10px;
        width: 250px;
        height: 300px;
        margin-left: 130px;
        margin-right: 20px;
    }
    .full-box a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        color: #161616;
        text-align: center;
    }
    .box{
        background-color: #f3f1ff;
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 30px;
        width: 200px;
        height: 60px;
    }
    .select-box{
        background-color: red;
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 30px;
        width: 200px;
        height: 60px;

    }

/* blog start */
.dis-play{
    display: flex;
    margin-top: 80px;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 7px;
}
.container{
    width: 280px;
    height: 362px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.container img{
    width: 100%;
}
.blog-detail{
    padding-left: 30px;
}
.blog-transfer{
    border: 1px solid #161616;
    width: 60px;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.blog-transfer,
.transfer-detail,
.blog-info{margin-top: 20px;
}
.blogs-info{
    display: flex;
    align-items: center;
    gap: 20px;

}
.view-link{
    background-color: red;
    text-decoration: none;
    color: bisque;
    padding: 5px 20px;
    border-radius: 5px;}
    .button-view{
        text-align: center;
        margin-top: 40px;
        font-weight: 700;
    }

/* footer start */
footer{
    width: 100%;
    height: 220px;
    background-color: #161616;
    margin-top: 80px;
}
.goal{
    color: #ffffff;
    text-align: center;
    font-size: 700;
    padding-top: 30px;
}
hr{
    border: 0.10px solid rgba(255,255,255,0.1);
    width: 80%;
    text-align: center;

}
.contacts{
    text-align: center;
    margin-top: 20px;
}
.contacts a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    margin-right: 30px;
}
.contact-side{
    text-align: center;
    margin-top: 20px;
}
.contact-side a{
    margin-right: 30px;
    font-size: 30px;
}
.fa-facebook-square{
    background: #ffffff;
    color: blue;
}
.fa-instagram-square{
    color: plum;
}
.fa-twitter-square{
    color: skyblue;
    background: blue;
}
/* footer end */
/* country file start */
.ger-man{
    width: 250px;
    height: 200px;
    border: 2px solid rgb(179, 156, 156);
    border-radius: 7px;
    background-color: #f3f1ff;
    text-align: center;
} 
h5{
    margin-right: 10px;
    margin-left: 10px;
}
.flag{
    display: flex;
    padding-top: 30px;
}
.ger-man{
    padding-left: 30px;
}
h3{
        padding-left: 20px;}
        /* country file end */

        /* media query start */
        /* small device */
        @media only screen and (max-width: 688px) {
            .top-banner{
                flex-direction: column;
                width: 400px;
                height: 710px;
                float: none;
            }
            .head-on{
                text-align: center;
                font-size: 10px;
                font-weight: 400;
            }
            .top-banner img{
                width: 70%;
                padding-left: 60px;
            }
            .dis-play{
                flex-direction: column;
                justify-content: center;
                padding: 50px;
                margin-top: 40px;
            }
            .full-box{
                margin-left: 275px;
            }
            .blog-container{
                grid-template-columns: repeat(1,1fr);
                flex-direction: column;
                justify-content: center;
                padding-left: 405px;
            }
            .button-view{
                display: none;
            }
            footer {
                margin-left: 275px;
                height: 600px;
            }
            .contacts, .contact-side{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                row-gap: 20px;
                padding-left: 20px;
            }
        }

        /* tab device */

        @media only screen and (min-width: 689px) and (max-width: 992px) {
            .top-banner{
                width: 100%;
                float: none;
            }
            .dis-play{
                flex-direction: column;
                margin-top: 50px;
            }
            .full-box{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: 20px;
                background-color: #f3f1ff;
                width: 750px;
                height: 125px;
                margin-left: 240px;
            }
            .blog-container{
                grid-template-columns: repeat(2,1fr);
                flex-direction: column;
                justify-content: center;
                padding-left: 515px;
            }
            .button-view{
                margin-left: 500px;
            }
            footer{
                margin-left: 245px;
                margin-top: 50px;
                height: 300px;
            }
        }
        /* for laptop or pc device */

        @media only screen and (min-width: 993px) {
            .button-view{
                display: none;
            }
            
        }